<?xml version="1.0" encoding="utf-8"?>
<!-- Safeer OS Tablet (si.safeer.tablet): ista koda kot televizor, a za dotik od blizu.
     Vse skupno je v AndroidManifest.xml v korenu; tu je samo, kar velja za tablico. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Tablica ni televizor: nicesar ne zahtevamo od leanback okolja. -->
    <uses-feature android:name="android.software.leanback" android:required="false" tools:node="replace" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" tools:node="replace" />

    <!-- Cesar tablicna lupina ne potrebuje: mikrofon in risanje cez druge aplikacije sta
         brskalnikova (glasovno iskanje, daljinec). -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />

    <queries>
        <package android:name="si.safeer.tv" />
        <package android:name="com.safeer.mobile.browser" />
    </queries>

    <application
        android:label="@string/tablet_ime"
        android:icon="@mipmap/os_ic_launcher"
        android:roundIcon="@mipmap/os_ic_launcher"
        android:largeHeap="false"
        tools:replace="android:largeHeap">

        <!-- Vstopna tocka: navaden vnos v predalu aplikacij, pokoncno in lezece. -->
        <activity
            android:name="si.safeer.tv.tablica.DomovTabletActivity"
            android:exported="true"
            android:label="@string/tablet_ime"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Brskalniski pogon je tu samo notranji (spletne aplikacije), brez vnosa v zaganjalnik. -->
        <activity
            android:name="si.safeer.tv.MainActivity"
            android:exported="false"
            android:label="@string/tablet_ime"
            android:icon="@mipmap/os_ic_launcher"
            android:banner="@drawable/os_banner"
            tools:replace="android:exported,android:label,android:icon,android:banner" />

    </application>
</manifest>
