<?xml version="1.0" encoding="utf-8"?>
<!-- Safeer Predvajalnik (si.safeer.player): samostojni medijski predvajalnik za telefon in tablico.
     Ista koda kot Medijski center v Safeer OS (GlasbaActivity, GlasbaStoritev, PredvajanjeActivity);
     tu je samo, kar velja za samostojno aplikacijo: vnos v predalu aplikacij, "Odpri z" za video in
     zvok, brez zaganjalnika televizorja in brez zagona ob vklopu. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher,UnsupportedTvHardware,UnnecessaryRequiredFeature">

    <uses-feature android:name="android.software.leanback" android:required="false" tools:node="replace" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" tools:node="replace" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove" />

    <queries>
        <package android:name="si.safeer.tv" />
        <package android:name="com.safeer.mobile.browser" />
    </queries>

    <application
        android:label="@string/predvajalnik_ime"
        android:icon="@mipmap/os_ic_launcher"
        android:roundIcon="@mipmap/os_ic_launcher"
        android:largeHeap="false"
        tools:replace="android:largeHeap">

        <!-- Vstopna tocka: Safeer Media naravnost; "Odpri z" za datoteke in naslove videa/zvoka. -->
        <activity android:name="si.safeer.tv.os.GlasbaActivity"
            android:exported="true"
            android:label="@string/predvajalnik_ime"
            tools:replace="android:exported"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/x-mpegURL" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/dash+xml" />
            </intent-filter>
        </activity>

        <!-- Deljeni zasloni na telefonu niso zaklenjeni v lezeco lego. -->
        <activity android:name="si.safeer.tv.os.DatotekeActivity" tools:remove="android:screenOrientation" />
        <activity android:name="si.safeer.tv.os.NastavitveActivity" tools:remove="android:screenOrientation" />
        <activity android:name="si.safeer.tv.os.BesediloActivity" tools:remove="android:screenOrientation" />

        <!-- Domov Safeer OS in brskalniski pogon sta tu samo notranja (brez vnosa v zaganjalnik). -->
        <activity android:name="si.safeer.tv.os.DomovActivity" android:exported="false"
            tools:replace="android:exported" tools:remove="android:screenOrientation" />
        <activity
            android:name="si.safeer.tv.MainActivity"
            android:exported="false"
            android:label="@string/predvajalnik_ime"
            android:icon="@mipmap/os_ic_launcher"
            android:banner="@drawable/os_banner"
            tools:replace="android:exported,android:label,android:icon,android:banner"
            tools:ignore="RedundantLabel" />
    </application>
</manifest>
